/* Estilo para as seções */
section {
    background-color: #070217;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin: 20px;
    padding: 20px;
}

/* Estilo para os títulos das seções */
section h2 {
    color: #333;
}

/* Estilo para os blocos de informações de contato */
.contact-info {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.contact-block {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    flex: 1;
}

/* Estilo para os links de contato */
.contact-block a {
    color: #0078d4;
    text-decoration: none;
}

/* Estilo para o rodapé */
.footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}
