.card {
    background-color: #514e5d;
    width: 300px; /* Defina a largura desejada */
    height: 200px; /* Defina a altura desejada */
    /* Adicione outras propriedades de estilo conforme necessário */
  }