
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
header {
    background-color: #300404;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}
nav {
    background-color: #444;
    text-align: center;
    padding: 10px 0;
}
nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 20px;
}
nav a:hover {
    text-decoration: underline;
}
section {
    padding: 20px;
}
