body{
    margin: 0;
    padding: 0;
    background-color: #070217;
}

h1.text-center {
    margin-top: 20px; /* ou outro valor de sua escolha */
    /* Adiciona uma margem superior para o título "PRODUTOS" */
}

h1, h3{
    color: #fff;
    width: 100%;
    border: none;
    border-radius: 12px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
    font: 100;
}

h1{}

.block{
    height: 80px;
   
}

.card-title{
    font-weight:600;
}


