body {
    background-color: #070217;
    min-height: 100vh; /* Adicionado para garantir a altura mínima da janela do navegador */
}


/* Estilo para as seções */
section {
    background-color: #514e5d;
    border-radius: 20px;
    width: 30%; /* Ajustado para 30% para acomodar três colunas com margem */
    margin-right: 3%; /* Reduzido para 2% para dar espaço entre as seções */
    margin-bottom: 10px;
    margin-top: 20px;
    padding: 10px;
    height: 50%; 
    box-sizing: border-box;
    display: inline-block; /* Mantido como inline-block para manter a largura e permitir que fiquem lado a lado */
    vertical-align: top; /* Alinha as seções ao topo para garantir que estejam alinhadas corretamente */
}

/* Estilo para a última seção (para evitar margem à direita) */
section:last-child {
    margin-right: 0;
}

/* Estilo para os títulos das seções */
section h2 {
    color: #ccc;
}

/* Estilo para os parágrafos nas seções */
section p {
    color: #ccc;
}

/* Estilo para a lista não ordenada nas seções */
section ul {
    list-style-type: disc;
    padding-left: 20px;
    color: #ccc;
}

/* Estilo para os links de contato */
section a {
    color: #0078d4;
    text-decoration: none;
}

/* Adicionado um estilo para o conteúdo principal */
main {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}


/* Estilo específico para a imagem do Compromisso na SECTION1 */
section1 img.commitment-image {
    width: calc(100% + 10px); /* Ajusta a largura para 100% + 10px para compensar o margin-left */
    border-radius: 10px; /* Adiciona bordas arredondadas à imagem */
    margin-top: 10px; /* Adiciona um espaço entre o texto e a imagem */
    margin-left: -80px; /* Move a imagem 10 pixels para a esquerda (ajuste conforme necessário) */
}
